.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
}
.NavigationItem a{
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    box-sizing: border-box;
    display: block;
    position: relative;
    transition: all 0.5s ease
}
.NavigationItem a:after{
    content: "";
    background-color: #40a4c8;
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: all 0.5s ease
}
.NavigationItem a:hover,.NavigationItem a:active,.NavigationItem a.active{
    background-color: #8f5c2c;
    color: white
}
.NavigationItem a:hover:after,.NavigationItem a:active:after,.NavigationItem a.active:after{
    width: 100%;
}
